.logo {
  display: flex;
  font-size: 30px;
  color: #ff5555;
  /* color: #ff79c6; */
}

.logo-img {
  margin-right: 10px;
  margin-top: 20px;
  height: 60px;
  width: 60px;
}

.icon-img {
  width: 1em;
  height: 1em;
  transform: translateY(10px);
}
